@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "variables";
@import "reset";
@import "about.scss";
@import "accordion.scss";
@import "carousel.scss";
@import "footer.scss";
@import "form.scss";
@import "home.scss";

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

:root {
  background-color: $dark-gray;
  color: $white;
}
